@model ConferenceProject.Models.ConferenceItem

@{
    ViewData["Title"] = "CreateAdmin";
}

<ptitle>CreateAdmin</ptitle>

<div>
    <h4>CreateAdmin</h4>
    <hr />

</div>
<p>
    <a asp-action="CreateAdmin">CreateAdmin</a> |
    <a asp-action="AddUserAdmin">AddUserAdmin</a> |
</p>
