@model ConferenceProject.Models.ConferenceItem
@using ConferenceProject.Models


@{
    ViewData["Title"] = "Create";
}

<ptitle>Create</ptitle>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ConferenceItem</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
          
            <label asp-for="_description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="_description" class="form-control" />
                <span asp-validation-for="_description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="_endTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="_endTime" class="form-control" />
                <span asp-validation-for="_endTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="_location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="_location" class="form-control" />
                <span asp-validation-for="_location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="_startTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="_startTime" class="form-control" />
                <span asp-validation-for="_startTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="_title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="_title" class="form-control" />
                <span asp-validation-for="_title" class="text-danger" />
            </div>
        </div>
        

        <div class="form-group">
            <label asp-for="lecturerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="lecturerID" class ="form-control">

                    @{
                        var lec = (List<Lecturer>)ViewData["lecturersList"];
                    }
                    @foreach (Lecturer item in lec)
                    {
                      <option value="@item.lecturerID" >@item._lname @item._fname</option>
                    }

                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
