@model ConferenceProject.Models.ConferenceItem

@{
    ViewData["Title"] = "firstConfiguration";
}

<ptitle>firstConfiguration</ptitle>
<div style="padding-bottom:2em"></div>

<div>
    <h4>your web site need to be cofigured first!!</h4>
    <h4>please register with admin user and press the button below</h4>
    
</div>
<p>
    <a asp-action="AdminsMgmt">Configure logged on user as Admin</a> |
</p>
