@model ConferenceProject.Models.Lecturer

@{
    ViewData["Title"] = "LecturerEdit";
}

<ptitle>LecturerEdit</ptitle>
<div style="padding-bottom:2em"></div>

<div class="row">
    <div class="col-md-8">
        <section>
            <div id="panel" class="col-sm-6">
                <div class="panel">
                    <div class="panel-body p-t-10">

                        <form asp-action="LecturerEdit">
                            <div class="form-horizontal">
                                <h4>Lecturer</h4>
                                <hr />
                                <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="lecturerID" />
                                <div class="form-group">
                                    <label asp-for="_fname" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_fname" class="form-control" />
                                        <span asp-validation-for="_fname" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="_lname" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_lname" class="form-control" />
                                        <span asp-validation-for="_lname" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="_company" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_company" class="form-control" />
                                        <span asp-validation-for="_company" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="_description" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_description" class="form-control" />
                                        <span asp-validation-for="_description" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="_email" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_email" class="form-control" />
                                        <span asp-validation-for="_email" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="_imgUrl" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="_imgUrl" class="form-control" />
                                        <span asp-validation-for="_imgUrl" class="text-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div>
                            <a asp-action="LecturersPage">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
